In [1]:
###Problem Definition

#Perform Apriori Algorithm on a simple dataset and mine association rules that may exist betweeen itemsets with metric set to confidence & lift.

###Tasks to be performed

#Importing Required Libraries
#Creating a simple dataset
#Transaction Encoding
#Understanding Apriori Algorithm
#Applying Apriori Algorithm
#Mining Association Rules

In [6]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\user\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: setuptools in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (50.3.1.post20201107)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (3.3.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (1.1.3)
Requirement already satisfied: scipy>=1.2.1 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: numpy>=1.16.2 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (1.19.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (0.23.2)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2020.6.20)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.0.1)
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: pytz>=2017.2 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2020.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)

In [11]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import warnings
warnings.filterwarnings("ignore")

# creating a simple data set

In [15]:
dataset = [['Milk', 'Snacks', 'Bread', 'Jam', 'Eggs', 'Banana', 'Beer', 'Diaper'],
           ['Milk','Bread','Beer', 'Diaper', 'Snacks','Banana'],
           ['Milk','Bread','Jam','Eggs','Banana'],
           ['Milk', 'Bread','Jam' 'Yogurt', 'Eggs','Banana'],
           ['Bread', 'Eggs', 'Diaper', 'Beer', 'Snacks'],
           ['Beer','Diaper','Snacks' 'Eggs','Jam']]

# transaction encoded

In [16]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df=pd.DataFrame(te_ary,columns=te.columns_)
df.head()

,Banana,Beer,Bread,Diaper,Eggs,Jam,JamYogurt,Milk,Snacks,SnacksEggs
0,True,True,True,True,True,True,False,True,True,False
1,True,True,True,True,False,False,False,True,True,False
2,True,False,True,False,True,True,False,True,False,False
3,True,False,True,False,True,False,True,True,False,False
4,False,True,True,True,True,False,False,False,True,False

In [17]:
df.shape

(6, 10)

Understanding Apriori Algorithm

Apriori algorithm is a classical algorithm used in data mining. Used for finding frequent itemsets and mining association rules that may exist between different itemsets. It operates very well on a dataset containing large number of transactions. It is not only easy to understand but also to implement. The frequent itemsets generated by the Apriori Algorithm can be used to determine the association rules that may exist between different items.

There are three major components of Apriori Algorithm.They are:

1)Support : It can be defined as the popularity of a particular item.It can be calculated as the number of transactions invloving that particular item divided by total number of transactions.
2)Confidence :It is the likelihood of an item Y being purchased when X was purchased.
2)Lift :It is the likelihood of an item Y being purchased when item X is purchased while considering the popularity of Y.

# 3. apriori algorithm

In [18]:
frequent_itemsets = apriori(df,min_support=0.6,use_colnames=True)
frequent_itemsets

     support               itemsets
0   0.666667               (Banana)
1   0.666667                 (Beer)
2   0.833333                (Bread)
3   0.666667               (Diaper)
4   0.666667                 (Eggs)
5   0.666667                 (Milk)
6   0.666667        (Banana, Bread)
7   0.666667         (Banana, Milk)
8   0.666667         (Diaper, Beer)
9   0.666667          (Bread, Eggs)
10  0.666667          (Milk, Bread)
11  0.666667  (Banana, Milk, Bread)

### from above, you can see that the result is a dataframe with support for each itemsets

# mining association rules

In [20]:
association_rules(frequent_itemsets, metric = "confidence", min_threshold=0.8)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Banana),(Bread),0.666667,0.833333,0.666667,1.0,1.2,0.111111,inf
1,(Banana),(Milk),0.666667,0.666667,0.666667,1.0,1.5,0.222222,inf
2,(Milk),(Banana),0.666667,0.666667,0.666667,1.0,1.5,0.222222,inf
3,(Diaper),(Beer),0.666667,0.666667,0.666667,1.0,1.5,0.222222,inf
4,(Beer),(Diaper),0.666667,0.666667,0.666667,1.0,1.5,0.222222,inf
5,(Eggs),(Bread),0.666667,0.833333,0.666667,1.0,1.2,0.111111,inf
6,(Milk),(Bread),0.666667,0.833333,0.666667,1.0,1.2,0.111111,inf
7,"(Banana, Milk)",(Bread),0.666667,0.833333,0.666667,1.0,1.2,0.111111,inf
8,"(Banana, Bread)",(Milk),0.666667,0.666667,0.666667,1.0,1.5,0.222222,inf
9,"(Milk, Bread)",(Banana),0.666667,0.666667,0.666667,1.0,1.5,0.222222,inf
10,(Banana),"(Milk, Bread)",0.666667,0.666667,0.666667,1.0,1.5,0.222222,inf
11,(Milk),"(Banana, Bread)",0.666667,0.666667,0.666667,1.0,1.5,0.222222,inf

### from above , you can see the result of association analysis showing which item is frequently purchased with other items

In [21]:
rules = association_rules(frequent_itemsets, metric="lift",min_threshold=1.2)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Banana),(Bread),0.666667,0.833333,0.666667,1.0,1.2,0.111111,inf
1,(Bread),(Banana),0.833333,0.666667,0.666667,0.8,1.2,0.111111,1.666667
2,(Banana),(Milk),0.666667,0.666667,0.666667,1.0,1.5,0.222222,inf
3,(Milk),(Banana),0.666667,0.666667,0.666667,1.0,1.5,0.222222,inf
4,(Diaper),(Beer),0.666667,0.666667,0.666667,1.0,1.5,0.222222,inf
5,(Beer),(Diaper),0.666667,0.666667,0.666667,1.0,1.5,0.222222,inf
6,(Bread),(Eggs),0.833333,0.666667,0.666667,0.8,1.2,0.111111,1.666667
7,(Eggs),(Bread),0.666667,0.833333,0.666667,1.0,1.2,0.111111,inf
8,(Milk),(Bread),0.666667,0.833333,0.666667,1.0,1.2,0.111111,inf
9,(Bread),(Milk),0.833333,0.666667,0.666667,0.8,1.2,0.111111,1.666667
10,"(Banana, Milk)",(Bread),0.666667,0.833333,0.666667,1.0,1.2,0.111111,inf
11,"(Banana, Bread)",(Milk),0.666667,0.666667,0.666667,1.0,1.5,0.222222,inf
12,"(Milk, Bread)",(Banana),0.666667,0.666667,0.666667,1.0,1.5,0.222222,inf
13,(Banana),"(Milk, Bread)",0.666667,0.666667,0.666667,1.0,1.5,0.222222,inf
14,(Milk),"(Banana, Bread)",0.666667,0.666667,0.666667,1.0,1.5,0.222222,inf
15,(Bread),"(Banana, Milk)",0.833333,0.666667,0.666667,0.8,1.2,0.111111,1.666667

In [24]:
rules[ (rules['confidence'] > 0.75) &
       (rules['lift'] > 1.2)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2,(Banana),(Milk),0.666667,0.666667,0.666667,1.0,1.5,0.222222,inf
3,(Milk),(Banana),0.666667,0.666667,0.666667,1.0,1.5,0.222222,inf
4,(Diaper),(Beer),0.666667,0.666667,0.666667,1.0,1.5,0.222222,inf
5,(Beer),(Diaper),0.666667,0.666667,0.666667,1.0,1.5,0.222222,inf
11,"(Banana, Bread)",(Milk),0.666667,0.666667,0.666667,1.0,1.5,0.222222,inf
12,"(Milk, Bread)",(Banana),0.666667,0.666667,0.666667,1.0,1.5,0.222222,inf
13,(Banana),"(Milk, Bread)",0.666667,0.666667,0.666667,1.0,1.5,0.222222,inf
14,(Milk),"(Banana, Bread)",0.666667,0.666667,0.666667,1.0,1.5,0.222222,inf

In [25]:
rules[rules['antecedents'] == {'Milk', 'Bread',}]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
12,"(Milk, Bread)",(Banana),0.666667,0.666667,0.666667,1.0,1.5,0.222222,inf

### from above , we can say that when a customer buys milk and bread together,he/she is likely to banana as well, so to increase the sales we can put these items together